@import "neon-button.css";
@import "neon-text.css";
body { 
    font-family: 'Dosis', sans-serif;
    color: white;

    background: #230e2f; /*For website that does not support gradient*/
    background: -webkit-linear-gradient(#230e2f, #260d2d, #220e33, #170e39, #0b113e, #0b1143);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{position: absolute; font-size: 4rem;}

.header {
    width: 100vw;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 150;
}
.header-right {
    padding-right: 50px;
    float: right;
}

#div1, #div2, #div3, #div4, #div5{
    width: 100vw;
    height: 100vh;
    background-image: url("./static/images/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*border: 2px solid white;*/
}
#div1{background-image: url("./static/images/1.png");}
#div2{background-image: url("./static/images/2.png");}
#div3{background-image: url("./static/images/3.png");}
#div4{background-image: url("./static/images/4.png");}
#div5{background-image: url("./static/images/5.png");}

div#div1 h1{
    top: 8rem;
    right: 20rem;
}
div#div1 p{
    position: absolute;
    top: 20rem;
    right: 5.5rem;
    font-size: 1.5em;
    max-width: 40rem;
}
div#div2 h1{
    top: 8rem;
    left: 15rem;
}
div#div3 h1{
    top: 10rem;
    right: 18rem;
}
div#div4 h1{
    top: 3rem;
    left: 20rem;
}
div#div4 div{
    padding: 14rem 15rem 0 15rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  
  border: 0.15em solid var(--Megenta);
  box-shadow: inset 0 0 0.5em 0.25em var(--Megenta), 0 0 0.5em 0.25em var(--Megenta);

  font-size: 2vw;
}
th, td {
    text-align: left;
    padding: 8px;
}

/* Reference: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details */
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-size: 3vh;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
/*------------------------------------------------*/
div#div2 button{
    position: absolute;
    top: 20rem;
    left: 15rem;
    max-width: 30rem;
}
div#div2 buttonn:hover span {
  display: none
}
div#div2 button:hover:before {
  content: "Explore the different, innovative technologies that can be implemented in the areas of blockchain, FinTech and Smart-city. Make use of your own imaginations to support modernization and the development of the new 4.0 era that is yet to be discovered.";
}
/*------------------------------------------------*/