:root {
  --Flicker-Pink: #F72585;
  --Orange: #FA8012;
  --Byzantine: #B5179E;
  --Megenta: #EB19E7;
  --Brick-Red: #CB4956;
  --Purple: #7209B7;
  --Purple2: #560BAD;
  --Trypan-Blue: #480CA8;
  --Dark-Purple: #3E0D6F;
  --wh-blue: #B4C7D2;
}