@import "color-var.css";

.neon-button{
	margin-top: 0.25em;
	background-color: #230e2f;
	font-family: 'Dosis', sans-serif;
	font-size: 1.5rem;

	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: var(--Megenta);
	border: var(--Megenta) 0.125em solid;
	padding: 0.25em 1em;
	border-radius: 0.5em;

	text-shadow: 0 0 1em white, 0 0 0.125em var(--Megenta);
	box-shadow: 
		inset 0 0 0.5em 0 var(--Megenta), 
		0 0 0.5em 0 var(--Megenta);
	position: relative;

	transition: background-color 100ms linear;
}

.neon-button::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;

	border-radius: 0.5em;
	box-shadow: 0 0 0.75em 0.25em var(--Megenta);
	opacity: 0;
	transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus{
	background-color: var(--Megenta);
	color: #230e2f;
	text-shadow: none;
}
.neon-button:hover::after{
	opacity: 1;
}
.neon-button:active {
  transform: translateY(4px);
}

/*-----------------------------------------*/
#schedule{
	position: absolute;
	top: 25rem;
	right: 9rem; /*6*/
}
.neon-button#schedule{
	font-size: 2.6rem;
	background-color: transparent;

	color: var(--Brick-Red);
	border: var(--Brick-Red) 0.125em solid;

	text-shadow: 0 0 0.75em white, 0 0 0.125em var(--Brick-Red);
	box-shadow: 
		inset 0 0 0.75em 0.1em var(--Brick-Red), 
		0 0 0.75em 0.1em var(--Brick-Red);
}
.neon-button#schedule::after {
	box-shadow: 0 0 0.75em 0.25em var(--Brick-Red);
}
.neon-button#schedule::before{
	pointer-events: none;
	content: "";
	position: absolute;
	background-color: var(--Brick-Red);
	width: 100%;
	height: 100%;
	top: 120%;
	left: 0;

	transform: perspective(1em) rotateX(35deg) /*translateZ(-1em)*/ scale(1, 0.35);
	filter: blur(1em);
	opacity: 0.5;
}
.neon-button#schedule:hover::before{
	opacity: 1;
}
.neon-button#schedule:hover,
.neon-button#schedule:focus{
	background-color: var(--Brick-Red);
	color: #170e39;
}
/*-----------------------------------------*/
#Discord{
	position: absolute;
	bottom: 0.5rem;
	right: 6rem;
}
#regEng{
	position: absolute;
	bottom: 0.5rem;
	right: 20rem;
}
#regKr{
	position: absolute;
	bottom: 0.5rem;
	right: 40rem;
}
.neon-button#Discord, .neon-button#regEng, .neon-button#regKr{
	font-size: 1.5rem;
	background-color: transparent;

	color: var(--Orange);
	border: var(--Orange) 0.125em solid;

	text-shadow: 0 0 0.75em white, 0 0 0.125em var(--Orange);
	box-shadow: 
		inset 0 0 0.75em 0.1em var(--Orange), 
		0 0 0.75em 0.1em var(--Orange);
}
.neon-button#Discord::after, .neon-button#regEng::after, .neon-button#regKr::after{
	box-shadow: 0 0 0.75em 0.25em var(--Orange);
}
.neon-button#Discord:hover, .neon-button#regEng:hover, .neon-button#regKr:hover,
.neon-button#Discord:focus, .neon-button#regEng:focus, .neon-button#regKr:focus{
	background-color: var(--Orange);
	color: #170e39;
}
/*-----------------------------------------*/