@import "neon-button.css";
@import "neon-text.css";
body { 
    font-family: 'Dosis', sans-serif;
    color: white;

    background: #230e2f; /*For website that does not support gradient*/
    background: -webkit-linear-gradient(#230e2f, #260d2d, #220e33, #170e39, #0b113e, #0b1143);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div#div1 h1,
div#div2 h1,
div#div3 h1,
div#div4 h1,
div#div5 h1{position: absolute; font-size: 4rem;}

.header {
    width: 100vw;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 150;
}
.header-right {
    padding-right: 50px;
    float: right;
}

#div1, #div2, #div3, #div4, #div5{
    width: 100vw;
    height: 100vh;
    background-image: url("./static/images/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*border: 2px solid white;*/
}
#div1{background-image: url("./images/1.png");}
#div2{background-image: url("./images/2.png");}
#div3{background-image: url("./images/3.png");}
#div4{background-image: url("./images/4.png");}
#div5{background-image: url("./images/5.png");}

/* Welcome */
div#div1 h1{
    top: 8rem;
    right: 20rem;
}
/* Welcome */
div#div1 p{
    position: absolute;
    top: 20rem;
    right: 5.5rem;
    font-size: 1.5em;
    max-width: 40rem;
}
/* Theme */
div#div2 h1{
    top: 8rem;
    left: 15rem;
}
/* Schedule */
div#div3 h1{
    top: 10rem;
    right: 18rem;
}
/* Prizes and Awards */
div#div4 h1{
    top: 3rem;
    left: 20rem;
}
/* Prizes and Awards */
div#div4 div{
    padding: 14rem 15rem 3rem 15rem;
}
/* Sponsors */
div#div5 h1{
    top: 3rem;
    left: 20rem;
}
/*---------------------Theme---------------------------*/
div#div2 div{
    position: absolute;
    top: 18rem;
    left: 5.5rem;
    max-width: 33%; /* Relative to #div2 (width = full width) */
    /*border: 1px solid white;*/
    padding: 0 2em 2em 2em;
}
div#div2 h2{ font-size: 3rem; }
div#div2 p{ font-size: 1.5rem; }
/*---------------------Prizes---------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  
  border: 0.15em solid var(--Megenta);
  box-shadow: inset 0 0 0.5em 0.25em var(--Megenta), 0 0 0.5em 0.25em var(--Megenta);

  font-size: 2vw;
}
th, td {
    text-align: left;
    padding: 8px;
}
/*---------------------FAQs---------------------------*/
div#divFAQ{
    /*border: 1px solid #aaa;*/
    padding: 5em;
}
div#divFAQ h1{ font-size: 4rem; }
div#divFAQ h2{ font-size: 2rem; }
/* Reference: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details */
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-size: 3vh;
    margin: -.5em 0 0;
    padding: .5em;
}

details[open] {
    border: 0.15em solid var(--Orange);
    box-shadow: inset 0 0 0.5em 0.25em var(--Orange), 0 0 0.5em 0.25em var(--Orange), inset 0 0 0.25em 0 #fff, 0 0 0.25em 0 #fff;
    font-size: 1.7em;
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}